.dict {
    margin: 0;
    padding: 0;
    width: 400px;
    background-color: #ffffff;
    top: 52%;
    position: fixed;
    height: 50%;
    overflow: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.dict::-webkit-scrollbar {
  display: none;
}